*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: monospace, Helvetica, sans-serif;
    background-color: #f0f0f0;
}
.timer-container{
    text-align: center;
    margin: 100px auto;
    width: 50%;
    height: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px 10px rgba(43, 41, 41, 0.1);
}
h1{
    color: #114269;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}
#timer-display{
    display: none;
}
button{
    touch-action: manipulation;
    width: 100px;
    height: 40px;
    font-size: 18px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    opacity: 0.8;
}
.input-container{
    margin-bottom: 40px;
    text-align: center;
}
label{
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    color: #062f50;
}
#hours-input{
    margin-left: -20px;
}
input[type="number"] {
    width: 10%;
    
    height: auto;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#start-Btn{
    margin-top: 40px;
    background-color: #4caf50;
    color: #fff;
}
#reset-Btn{
    background-color: #f44336;
    color: #fff;
}

@media screen and (max-width: 1024px) {
    .timer-container {
        width: 70%;   
        height: auto; 
        margin: 50px auto;
        padding: 15px;
    }

    h1 {
        font-size: 28px;
    }

    input[type="number"] {
        width: 20%;   
        font-size: 18px;
    }

    button {
        width: 90px;
        height: 38px;
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
    .timer-container {
        width: 90%;  
        margin: 30px auto;
        padding: 10px;
    }

    h1 {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .input-container {
        margin-bottom: 20px;
    }

    label {
        font-size: 16px;
    }

    input[type="number"] {
        width: 40%;   
        font-size: 16px;
    }

    button {
        width: 80px;
        height: 35px;
        font-size: 14px;
        margin: 5px;
    }
}

