*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
}
.timer-display-container{
    position: relative;
    text-align: center;
    margin: 90px auto;
    width: 86%;
    height: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px 10px rgba(43, 41, 41, 0.1);
}
#timer-display{
    position: absolute;
    top: 20%;
    right: 0;
    left: 0%;
    bottom: 0;
    font-size: 200px;
    font-weight: bold;
    font-family: monospace;
    color: #062f50;
    margin: 20px 0;
}


@media screen and (max-width: 600px) {
    .timer-display-container {
        width: 95%;
        height: 300px;
        margin: 40px auto;
        padding: 15px;
    }
    #timer-display {
        font-size: 60px;
        top: 25%;
    }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    .timer-display-container {
        width: 90%;
        height: 400px;
        margin: 60px auto;
        padding: 18px;
    }
    #timer-display {
        font-size: 120px;
        top: 22%;
    }
}
